<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>HoochHound Admin</title>
<link href="http://static.hoochhound.com/admin/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/spinner/jquery.mousewheel.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/excanvas.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/jquery.flot.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/jquery.flot.pie.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/jquery.flot.resize.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/charts/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/uniform.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.cleditor.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.validationEngine.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/autogrowtextarea.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.dualListBox.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/forms/chosen.jquery.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/wizard/jquery.form.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/wizard/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/wizard/jquery.form.wizard.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/uploader/jquery.plupload.queue.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/tables/datatable.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/tables/tablesort.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/tables/resizable.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.tipsy.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.progress.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.timeentry.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.breadcrumbs.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/ui/jquery.sourcerer.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/calendar.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/plugins/elfinder.min.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/custom.js"></script>
<script type="text/javascript" src="http://static.hoochhound.com/admin/js/charts/chart.js"></script>
</head>

<body class="nobg loginPage">

<!-- Top fixed navigation -->

<div class="topNav">
  <div class="wrapper">
    <div class="userNav">
      <ul>
        <li><a href="#" title=""><img src="http://static.hoochhound.com/admin/images/icons/topnav/mainWebsite.png" alt="" /><span>Main website</span></a></li>
        <li><a href="#" title=""><img src="http://static.hoochhound.com/admin/images/icons/topnav/profile.png" alt="" /><span>Contact admin</span></a></li>
        <li><a href="#" title=""><img src="http://static.hoochhound.com/admin/images/icons/topnav/messages.png" alt="" /><span>Support</span></a></li>
        <li><a href="login.html" title=""><img src="http://static.hoochhound.com/admin/images/icons/topnav/settings.png" alt="" /><span>Settings</span></a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!-- Main content wrapper -->

<div class="loginWrapper">
  <div class="loginLogo"><img src="http://static.hoochhound.com/admin/images/loginLogo.png" alt="" /></div>
  <div class="widget">
    <div class="title"><img src="http://static.hoochhound.com/admin/images/icons/dark/files.png" alt="" class="titleIcon" />
      <h6>Login panel</h6>
    </div>
    <form action="/login" method="post" id="validate" class="form">
      <fieldset>
        <div class="formRow">
          <label for="login">Username:</label>
          <div class="loginInput">
            <input type="text" name="username" class="validate[required]" id="username" />
          </div>
          <div class="clear"></div>
        </div>
        <div class="formRow">
          <label for="pass">Password:</label>
          <div class="loginInput">
            <input type="password" name="password" class="validate[required]" id="password" />
          </div>
          <div class="clear"></div>
        </div>
        <div class="loginControl">
          <div class="rememberMe">
            <input type="checkbox" id="remMe" name="remMe" />
            <label for="remMe">Remember me</label>
          </div>
          <input type="submit" value="Log me in" class="dredB logMeIn" />
          <div class="clear"></div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>