{{> header}} 
<!-- Main content wrapper -->
<div class="wrapper">
  <div class="body textC">
    <div class="uDialog">
      <div id="dialogRemove" title="Remove product?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This product will be permanently deleted and cannot be recovered. Are you sure?</p>
      </div>
      <div id="dialogAddReview" title="Add Review">
        <div class="uiForm">
          <form action="" method="post" class="dialog">
            <fieldset>
              <label>Reviewer:</label>
              <input name="reviewerName" type="text" placeholder="Name">
              <input name="reviewerWebsiteName" type="text" placeholder="Website Name">
              <input name="reviewerWebsiteURL" type="text" placeholder="Website URL">
              <label>Review score:</label>
              <input name="score" type="text" value="">
              <label>Review date:</label>
              <input name="date" type="text" class="maskDate" placeholder="MM/DD/YYYY">
              <label>Blurb:</label>
              <textarea name="blurb" rows="8" cols=""></textarea>
              <label>Link to review:</label>
              <input name="link" type="text" value="">
              <label for="tags">Tags:</label>
              <input type="text" id="tags" name="tags" class="tags" value="">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {{#message.success}}
  <div class="nNote nSuccess hideit">
    <p><strong>SUCCESS:</strong>{{message.success}}</p>
  </div>
  {{/message.success}}
  
  {{#message.error}}
  <div class="nNote nFailure hideit">
    <p><strong>FAILURE:</strong>{{message.error}}</p>
  </div>
  {{/message.error}} 
  
  <!-- Static table -->
  <div class="widget">
    <div class="title"><img src="http://static.hoochhound.com/admin/images/icons/dark/frames.png" alt="" class="titleIcon">
      <h6></h6>
    </div>
    <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
      <thead>
        <tr>
          <td>Name</td>
          <td>Producer</td>
          <td>Origin</td>
          <td>Category</td>
          <td>Reviews</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      
      {{#paginatedResults}}
      <tr>
        <td>{{name}}</td>
        <td>{{producerName}}</td>
        <td>{{origin}}</td>
        <td class="fileInfo"><span><strong>Primary:</strong> {{primaryCategory}}</span><span><strong>Secondary:</strong> {{secondaryCategory}}</span></td>
        <td><a href="/admin/product/{{_id}}/review/add" title="" class="button basic" style="margin: 5px;"><span>Add</span></a><a href="/admin/product/{{_id}}/review/list" title="" class="button basic" style="margin: 5px;"><span>List</span></a></td>
        <td class="actBtns"><a href="#" title="Edit" class="tipS"><img src="http://static.hoochhound.com/admin/images/icons/edit.png" alt=""></a><a href="#" title="Remove" class="tipS opener" data-product="{{_id}}"><img src="http://static.hoochhound.com/admin/images/icons/remove.png" alt=""></a></td>
      </tr>
      {{/paginatedResults}}
        </tbody>
      
    </table>
  </div>
  {{#pagination.settings}}
  <div class="pagination">
    <ul class="pages">
      <li class="prev"><a href="{{pagination.settings.prevPage}}">&lt;</a></li>
      {{#pagination.pages}}
      <li><a href="{{pageNum}}"{{#active}} class="active"{{/active}}>{{pageNum}}</a></li>
      {{/pagination.pages}}
      <li class="next"><a href="{{pagination.settings.nextPage}}">&gt;</a></li>
    </ul>
  </div>
  {{/pagination.settings}}
  <div class="clear"></div>
</div>
</div>
</div>
{{> footer}}