{{> header}}
<!-- Main content wrapper -->
<div class="wrapper"> 
  
  <!-- Static table -->
  <div class="widget">
    <div class="title"><img src="http://static.hoochhound.com/admin/images/icons/dark/frames.png" alt="" class="titleIcon">
      <h6></h6>
    </div>
    <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
      <thead>
        <tr>
          <td>Name</td>
          <td>Producer</td>
          <td>Origin</td>
          <td>Category</td>
          <td>Reviews</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
      {{#paginatedResults}}
        <tr>
          <td>{{name}}</td>
          <td>{{producerName}}</td>
          <td>{{origin}}</td>
        <td class="fileInfo"><span><strong>Primary:</strong> {{primaryCategory}}</span><span><strong>Secondary:</strong> {{secondaryCategory}}</span></td>
          <td><a href="/admin/product/{{_id}}/add/review" title="" class="button basic" style="margin: 5px;"><span>Add</span></a><a href="/admin/product/{{_id}}/list/review" title="" class="button basic" style="margin: 5px;"><span>List</span></a></td>
          <td class="actBtns"><a href="#" title="Edit" class="tipS"><img src="http://static.hoochhound.com/admin/images/icons/edit.png" alt=""></a><a href="#" title="Remove" class="tipS"><img src="http://static.hoochhound.com/admin/images/icons/remove.png" alt=""></a></td>
        </tr>
        {{/paginatedResults}}
      </tbody>
    </table>
  </div>
  {{#pagination.settings}}
  <div class="pagination">
    <ul class="pages">
	    <li class="prev"><a href="{{pagination.settings.prevPage}}">&lt;</a></li>
        {{#pagination.pages}}
		<li><a href="{{pageNum}}"{{#active}} class="active"{{/active}}>{{pageNum}}</a></li>
        {{/pagination.pages}}
		<li class="next"><a href="{{pagination.settings.nextPage}}">&gt;</a></li>
	</ul>
   </div>
   {{/pagination.settings}}
      <div class="clear"></div>
    </div>
  </div>
</div>
{{> footer}}