<div id="article-slider-wrapper">
  <div class="section-wrapper"> <a href="archive-a.php" class="more" title="All articles in slider &raquo;">&nbsp;</a>
    <div class="section"> Editor's Picks </div>
  </div>
  <div id="scroller-wrapper"> <a href="#" class="article-slider-prev">&nbsp;</a>
    <div id="article-slider">
      <ul>
        <li>
          <div class="rating-wrapper small">
            <div class="stars yellow">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/5176285924_ddfd778457_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color2">2.6</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4972869342_7bec85d899_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="letter nocolor">B</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4962451319_15243bd9f4_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color3">46&#37;</div>
          </div>
          <a class="darken small video" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/5519592162_d3fca70dd7_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="stars yellow">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4968501656_42ce84e3db_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color1">1.1</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/3046862404_fa958fb31b_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="letter nocolor">D+</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/1174715_40241555-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="stars yellow">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/3386805908_bd45e725f4_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="stars blue">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star  half">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2011/11/4190119209_c79e942b74_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color2">38&#37;</div>
          </div>
          <a class="darken small video" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4385253551_ab50d4676f_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="stars blue">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596474811_b534b3a1e2_b-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color5">86&#37;</div>
          </div>
          <a class="darken small video" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4071186761_6581aa9041_o-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="letter nocolor">A-</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/1166638_82337820-110x110.jpg"></a> </li>
        <li>
          <div class="rating-wrapper small">
            <div class="number color4">7.1</div>
          </div>
          <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4200931570_7ab92ca82f_b-110x110.jpg"></a> </li>
      </ul>
    </div>
    <a href="#" class="article-slider-next">&nbsp;</a> <br class="clearer">
  </div>
  <br class="clearer ie9fix">
</div>