<div id="authorbox">
  <h2>About the Author</h2>
  <div class="inner">
    <div class="author-title">Andrew Luck</div>
    <div class="author-image"> <img alt='Author Image' src='http://1.gravatar.com/avatar/1dc3b85ae4032d4b280504d48f64796b?s=70&amp;d=wavatar&amp;r=G'> </div>
    <ul class="social-links">
      <li class="twitter"><a title="Twitter" href='http://twitter.com/aluck'>&nbsp;</a></li>
      <li class="facebook"><a title="Facebook" href='http://www.facebook.com/aluck'>&nbsp;</a></li>
      <li class="linkedin"><a title="LinkedIn" href='http://www.linkedin.com/in/aluck'>&nbsp;</a></li>
      <li class="googleplus"><a title="Google+" href='http://plus.google.com/aluck'>&nbsp;</a></li>
      <li class="youtube"><a title="YouTube" href='http://www.youtube.com/user/aluck/'>&nbsp;</a></li>
      <li class="flickr"><a title="Flickr" href='http://www.flickr.com/photos/aluck/'>&nbsp;</a></li>
      <li class="digg"><a title="Digg" href='http://digg.com/users/aluck'>&nbsp;</a></li>
      <li class="email"><a title="Email" href='mailto:aluck@gmail.com'>&nbsp;</a></li>
      <li class="url"><a title="Website" href='http://www.google.com'>&nbsp;</a></li>
    </ul>
    <br class="clearer">
    <div class="description"> Sed a nibh diam, commodo blandit enim. Sed non felis quam. Proin ultricies ante eu diam iaculis ultrices congue lectus facilisis. Sed at nisi ut leo ultrices laoreet eget sit amet nibh. Aliquam ac urna turpis. </div>
    <div class="more-articles"> More articles by <a href="archive-a.php" title="Posts by Andrew Luck" rel="author">Andrew Luck</a> &raquo; </div>
    <br class="clearer">
  </div>
</div>
