<div id="comments">
  <div class="comments-header">
    <h2>15 Comments</h2>
    <div class="leave-comment"> <a href="#comments">Leave a comment &raquo;</a> </div>
    <br class="clearer">
  </div>
  <div class="pagination-wrapper comments">
    <div class="left-cap">&nbsp;</div>
    <div class="pagination"> <span class="page-numbers current">1</span> <a class="page-numbers" href="#comments">2</a> <a class="next page-numbers" href="#comments">&raquo;</a> </div>
    <div class="right-cap">&nbsp;</div>
  </div>
  <br class="clearer">
  <ol class="commentlist">
    <li>
      <div>
        <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
        <div class="comment-wrapper">
          <div class="comment-arrow">&nbsp;</div>
          <div class="comment-inner">
            <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
            <div class="comment-meta"> <a href="#">February 5, 2012 at 4:01 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
            <br class="clearer">
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, aticitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
            </div>
            <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
            <br class="clearer">
          </div>
          <br class="clearer">
        </div>
        <br class="clearer">
      </div>
      <ul class="children">
        <li>
          <div>
            <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
            <div class="comment-wrapper">
              <div class="comment-arrow">&nbsp;</div>
              <div class="comment-inner">
                <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                <div class="comment-meta"> <a href="#">February 5, 2012 at 4:01 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                <br class="clearer">
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibufermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
                </div>
                <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                <br class="clearer">
              </div>
              <br class="clearer">
            </div>
            <br class="clearer">
          </div>
          <ul class="children">
            <li>
              <div>
                <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
                <div class="comment-wrapper">
                  <div class="comment-arrow">&nbsp;</div>
                  <div class="comment-inner">
                    <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                    <div class="comment-meta"> <a href="#">February 5, 2012 at 4:02 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                    <br class="clearer">
                    <div class="comment-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae us fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
                    </div>
                    <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                    <br class="clearer">
                  </div>
                  <br class="clearer">
                </div>
                <br class="clearer">
              </div>
              <ul class="children">
                <li>
                  <div>
                    <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
                    <div class="comment-wrapper">
                      <div class="comment-arrow">&nbsp;</div>
                      <div class="comment-inner">
                        <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                        <div class="comment-meta"> <a href="#">February 5, 2012 at 4:04 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                        <br class="clearer">
                        <div class="comment-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam malementum gravida.</p>
                        </div>
                        <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                        <br class="clearer">
                      </div>
                      <br class="clearer">
                    </div>
                    <br class="clearer">
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <div>
        <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
        <div class="comment-wrapper">
          <div class="comment-arrow">&nbsp;</div>
          <div class="comment-inner">
            <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
            <div class="comment-meta"> <a href="#">February 5, 2012 at 4:02 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
            <br class="clearer">
            <div class="comment-text">
              <p>Lorem ipsuat sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
            </div>
            <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
            <br class="clearer">
          </div>
          <br class="clearer">
        </div>
        <br class="clearer">
      </div>
    </li>
    <li>
      <div>
        <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
        <div class="comment-wrapper">
          <div class="comment-arrow">&nbsp;</div>
          <div class="comment-inner">
            <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
            <div class="comment-meta"> <a href="#">February 5, 2012 at 4:02 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
            <br class="clearer">
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitvarius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
            </div>
            <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
            <br class="clearer">
          </div>
          <br class="clearer">
        </div>
        <br class="clearer">
      </div>
    </li>
    <li>
      <div>
        <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
        <div class="comment-wrapper">
          <div class="comment-arrow">&nbsp;</div>
          <div class="comment-inner">
            <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
            <div class="comment-meta"> <a href="#">February 5, 2012 at 4:02 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
            <br class="clearer">
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, atis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
            </div>
            <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
            <br class="clearer">
          </div>
          <br class="clearer">
        </div>
        <br class="clearer">
      </div>
      <ul class="children">
        <li>
          <div>
            <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
            <div class="comment-wrapper">
              <div class="comment-arrow">&nbsp;</div>
              <div class="comment-inner">
                <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                <div class="comment-meta"> <a href="#">February 5, 2012 at 4:03 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                <br class="clearer">
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec</p>
                </div>
                <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                <br class="clearer">
              </div>
              <br class="clearer">
            </div>
            <br class="clearer">
          </div>
        </li>
        <li>
          <div>
            <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
            <div class="comment-wrapper">
              <div class="comment-arrow">&nbsp;</div>
              <div class="comment-inner">
                <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                <div class="comment-meta"> <a href="#">February 5, 2012 at 4:03 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                <br class="clearer">
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit ametim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
                </div>
                <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                <br class="clearer">
              </div>
              <br class="clearer">
            </div>
            <br class="clearer">
          </div>
          <ul class="children">
            <li>
              <div>
                <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
                <div class="comment-wrapper">
                  <div class="comment-arrow">&nbsp;</div>
                  <div class="comment-inner">
                    <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                    <div class="comment-meta"> <a href="#">February 5, 2012 at 4:03 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                    <br class="clearer">
                    <div class="comment-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibuluctus ligula, nec tempor lacus. Quisque vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
                    </div>
                    <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                    <br class="clearer">
                  </div>
                  <br class="clearer">
                </div>
                <br class="clearer">
              </div>
              <ul class="children">
                <li>
                  <div>
                    <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
                    <div class="comment-wrapper">
                      <div class="comment-arrow">&nbsp;</div>
                      <div class="comment-inner">
                        <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
                        <div class="comment-meta"> <a href="#">February 5, 2012 at 4:04 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
                        <br class="clearer">
                        <div class="comment-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudinue vitae massa a felis varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
                        </div>
                        <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
                        <br class="clearer">
                      </div>
                      <br class="clearer">
                    </div>
                    <br class="clearer">
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <div>
        <div class="author-image"> <img alt="Image Alt" src="http://0.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00?s=50&amp;d=wavatar&amp;r=G"> </div>
        <div class="comment-wrapper">
          <div class="comment-arrow">&nbsp;</div>
          <div class="comment-inner">
            <div class="comment-author"> <a href="http://www.outerspiceweb.com" rel="external nofollow" class="url" target="_blank">Brian McCulloh</a> </div>
            <div class="comment-meta"> <a href="#">February 5, 2012 at 4:03 am</a> <a class="comment-edit-link" href="#" title="Edit comment">(Edit)</a> </div>
            <br class="clearer">
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus, nisi a vestibulum interdum, mi leo fermentum enim, at sollicitudin turpis urna at nisi. Pellentesque sed lectus ligula, nec tempor lacus. Quisque s varius fermentum. Etiam mattis arcu id nisi elementum gravida.</p>
            </div>
            <div class="reply"> <a class="comment-reply-link" href="#">Reply</a> </div>
            <br class="clearer">
          </div>
          <br class="clearer">
        </div>
        <br class="clearer">
      </div>
    </li>
  </ol>
  <div class="pagination-wrapper comments">
    <div class="left-cap">&nbsp;</div>
    <div class="pagination"> <span class="page-numbers current">1</span> <a class="page-numbers" href="#comments">2</a> <a class="next page-numbers" href="#comments">&raquo;</a> </div>
    <div class="right-cap">&nbsp;</div>
  </div>
  <br class="clearer">
  <br>
  <br>
  <div id="respond">
    <h3 id="reply-title">Leave a Response</h3>
    <form action="#" method="post" id="commentform">
      <p class="logged-in-as">Logged in as <a href="#">Brian McCulloh</a>. <a href="#" title="Log out of this account">Log out?</a></p>
      <div class="comment-form-comment">
        <div class="label">
          <label for="comment">Comment</label>
        </div>
        <div class="input-wrapper">
          <div class="shadow">
            <div class="icon">
              <textarea id="comment" name="comment" rows="8" cols="50"></textarea>
            </div>
          </div>
        </div>
      </div>
      <br class="clearer">
      <p class="form-submit">
        <input name="submit" type="submit" id="submit" value="Post Comment">
      </p>
    </form>
  </div>
</div>
