<div id="featured-wrapper">
  <div id="featured"> <a href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2011/11/6628392801_bf980eb524_b-540x390.jpg" title="#div1"></a> <a href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/3569610955_75bf2651e1_z-540x390.jpg" title="#div2"></a> <a href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/5645261583_617415fcea_b-540x390.jpg" title="#div3"></a> <a href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/601064_78841738-540x390.jpg" title="#div4"></a> <a href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/107182906_8a8e9aa449_b-540x390.jpg" title="#div5"></a> </div>
  <div id="div1" class="nivo-html-caption">
    <div class="category"> Product Review </div>
    <div class="rating-wrapper">
      <div class="stars blue">
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star">&nbsp;</div>
      </div>
    </div>
    <h1><a href="single-review-numbers.php" class="bebas">BitTorrent revolutionizes live streaming</a></h1>
    <a class="excerpt" href="single-review-numbers.php">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor aliquam lorem, ut malesuada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vitae est at velit sodales congue ac sit amet augue. Fusce eu ornare turpi...</a> </div>
  <div id="div2" class="nivo-html-caption">
    <div class="category"> Restaurant Review </div>
    <div class="rating-wrapper">
      <div class="stars yellow">
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star full">&nbsp;</div>
        <div class="star  half">&nbsp;</div>
      </div>
    </div>
    <h1><a href="single-review-numbers.php" class="bebas">Mexican Eats: New Mex Deli</a></h1>
    <a class="excerpt" href="single-review-numbers.php">Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a> </div>
  <div id="div3" class="nivo-html-caption"> <a class="video" href="single-review-numbers.php">&nbsp;</a>
    <div class="category"> Movie Review </div>
    <div class="rating-wrapper">
      <div class="number color4">75&#37;</div>
    </div>
    <h1><a href="single-review-numbers.php" class="bebas">The Dark Knight Rises</a></h1>
    <a class="excerpt" href="single-review-numbers.php">Donec ligula quam, aliquet eu pulvinar ut, laoreet iaculis dolor. Quisque auctor neque nec nibh consectetur..</a> </div>
  <div id="div4" class="nivo-html-caption">
    <div class="category"> Fashion Review </div>
    <div class="rating-wrapper">
      <div class="letter nocolor">C-</div>
    </div>
    <h1><a href="single-review-numbers.php" class="bebas">Viktor &#038; Rolf Autumn (Fall) / Winter 2012 men's</a></h1>
    <a class="excerpt" href="single-review-numbers.php">Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at.</a> </div>
  <div id="div5" class="nivo-html-caption">
    <div class="category"> Music Review </div>
    <div class="rating-wrapper">
      <div class="number color1">1.8</div>
    </div>
    <h1><a href="single-review-numbers.php" class="bebas">Field Mouse &#8211; &#8220;Glass&#8221; Video (Stereogum Premiere)</a></h1>
    <a class="excerpt" href="single-review-numbers.php">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula diam, sit amet commodo eros. Donec sed neque sit amet massa eleifend feugiat.</a> </div>
</div>