<div id="related">
  <ul class="tabnav">
    <li class="title">Related Reviews: </li>
    <li class="arrow">&nbsp;</li>
    <li><a title="Laptops" href="#tab1">Laptops</a></li>
    <li><a title="Apple" href="#tab2">Apple</a></li>
    <li><a title="Archer Farms" href="#tab3">Archer Farms</a></li>
  </ul>
  <br class="clearer">
  <div class="tabdiv-wrapper">
    <div id="tab1" class="tabdiv">
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/4226024239_c5175c2f49_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Samsung Series 3 AMD Quad Core 1.6GHz 16&#8243; Laptop for $450 + free shipping</a> </div>
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6628325311_f356fb1a8a_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Toshiba Satellite Intel Dual Core 2GHz 16&#8243; LED Laptop for $380 + free shipping</a> </div>
      <div class="panel right">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/4226756372_4c09826518_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Apple MacBook Pro Fall 2011</a> </div>
      <br class="clearer">
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/5114004342_72ba927a33_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">LG Spectrum for Verizonx</a> </div>
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596251029_3416a43882_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Motorola Droid Razr Maxx</a> </div>
      <div class="panel right">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2011/11/5320816138_b94e79f57e_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Sony Vaio F Series</a> </div>
      <br class="clearer">
      <br class="clearer">
    </div>
    <div id="tab2" class="tabdiv">
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6628325311_f356fb1a8a_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Toshiba Satellite Intel Dual Core 2GHz 16&#8243; LED Laptop for $380 + free shipping</a> </div>
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/5113921580_d2f2557f14_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Sony Vaio F Series (January 2012)</a> </div>
      <div class="panel right">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596251029_3416a43882_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Motorola Droid Razr Maxx</a> </div>
      <br class="clearer">
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star  half">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2011/11/4190119209_c79e942b74_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Klipsch Gallery G-17 iPad speaker</a> </div>
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596498205_79b1efc387_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Kiss removable phone batteries goodbye</a> </div>
      <div class="panel right">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/5166988609_45d97cbf05_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Windows Phone 8 details leak</a> </div>
      <br class="clearer">
      <br class="clearer">
    </div>
    <div id="tab3" class="tabdiv">
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596251029_3416a43882_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Motorola Droid Razr Maxx</a> </div>
      <div class="panel">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596498205_79b1efc387_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Kiss removable phone batteries goodbye</a> </div>
      <div class="panel right">
        <div class="rating-wrapper small">
          <div class="stars blue">
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star full">&nbsp;</div>
            <div class="star">&nbsp;</div>
          </div>
        </div>
        <a class="darken small" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/5166988609_45d97cbf05_b-110x70.jpg"></a> <a href="single-review-numbers.php" class="post-title">Windows Phone 8 details leak</a> </div>
      <br class="clearer">
    </div>
  </div>
</div>
<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() { 
    
        jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
        
    });    
</script> 
<br class="clearer">
</div>
</div>
</div>
