<div id="spotlight">
  <div class="section-wrapper"> 
    <!-- spotlight section header --> 
    <a href="archive-a.php" class="more" title="All articles in spotlight &raquo;">&nbsp;</a>
    <div class="section"> In The Spotlight </div>
  </div>
  <div id="spotlight-slider"> 
    <!-- begin spotlight slider -->
    <ul>
      <li>
        <div class="post-panel">
          <div class="rating-wrapper small">
            <div class="letter nocolor">A-</div>
          </div>
          <a class="darken" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/1376806_26668861-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Art Deco fashion: the new take</a></h2>
          <div class="excerpt">Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
      </li>
      <li>
        <div class="post-panel right">
          <div class="rating-wrapper small">
            <div class="stars blue">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/02/6596251029_3416a43882_b-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Motorola Droid Razr Maxx</a></h2>
          <div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor aliquam lorem, ut malesuada diam pharetra eu. Donec turpis diam, adipiscing a mollis nec, placerat at lectus. Pellentesque vitae est at velit sodales congue ...</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
        <br class="clearer">
      </li>
      <li>
        <div class="post-panel">
          <div class="rating-wrapper small">
            <div class="number color2">31&#37;</div>
          </div>
          <a class="darken video" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/5572631859_8077b879dc_b-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Chronicle</a></h2>
          <div class="excerpt">Donec ligula quam, aliquet eu pulvinar ut, laoreet iaculis dolor. Quisque auctor neque nec nibh consectetur..</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
      </li>
      <li>
        <div class="post-panel right">
          <div class="rating-wrapper small">
            <div class="number color4">7.5</div>
          </div>
          <a class="darken" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/2035927289_197ea4180f_o-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Young Magic &#8211; &#8220;Night In The Ocean&#8221; Video</a></h2>
          <div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula diam, sit amet commodo eros. Donec sed neque sit amet massa eleifend feugiat.</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
        <br class="clearer">
      </li>
      <li>
        <div class="post-panel">
          <div class="rating-wrapper small">
            <div class="stars yellow">
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star full">&nbsp;</div>
              <div class="star  half">&nbsp;</div>
              <div class="star">&nbsp;</div>
            </div>
          </div>
          <a class="darken" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/2015073450_742d706709_b-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Coffee Common: Bringing Coffee Power to the People</a></h2>
          <div class="excerpt">Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
      </li>
      <li>
        <div class="post-panel right">
          <div class="rating-wrapper small">
            <div class="number color3">4.6</div>
          </div>
          <a class="darken" href="single-review-numbers.php"><img alt="Image Alt" src="http://demos.brianmcculloh.com/swagger/files/2012/01/4516916734_c6912fa5bf_b-300x170.jpg"></a>
          <h2><a href="single-review-numbers.php">Check Out A Pic Of A Young Jon Stewart Moshing At A Dead Kennedys Show</a></h2>
          <div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut ligula diam, sit amet commodo eros. Donec sed neque sit amet massa eleifend feugiat.</div>
          <br class="clearer">
          <div class="more-button"><a href="single-review-numbers.php">&nbsp;</a></div>
        </div>
        <br class="clearer">
      </li>
    </ul>
  </div>
  <!--end spotlight slider--> 
  
</div>
<br class="clearer">
